.container{
    width: 800px;
    height: 200px;
    border: 1px solid red;
    display: flex;
    /* justify-content: space-evenly; */
}
.satu{
    background-color: red;
    height: 100px;
}
.dua{
    background-color: blue;
    height: 500px;
}
.tiga{
    background-color: aqua;
}
/* .container div {
    background-color: blueviolet;
    width: 800px;
    height: 250px;
} */